recursive-include doc *
include MANIFEST.in
include MANIFEST
include HISTORY
inlcude README
inlcude README.rst
include requirements.dev.txt
include run-tests
recursive-include extra *
recursive-include src *.h *.c
