recursive-include doc *
include MANIFEST.in
include MANIFEST
include HISTORY
include README
include README.rst
include requirements.dev.txt
include run-tests
recursive-include extra *
recursive-include src *.h *.c
